<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет</title>
</head>
<body>
<h1>Личный кабинет</h1>
<p>Имя: <span th:text="${doctor.fullName}"></span></p>
<p>Специальность: <span th:text="${doctor.speciality}"></span></p>

<form action="/find_patient" method="get">
    <input type="text" name="patientName" placeholder="Введите имя пациента" required>
    <button type="submit">Найти пациента</button>
</form>

<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти</button>
</form>
</body>
</html>