<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Информация о пациенте</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Информация о пациенте</h1>
<div th:if="${patient != null}">
    <p>Имя: <span th:text="${patient.fullName}"></span></p>
    <p>Пол: <span th:text="${patient.gender}"></span></p>
    <p>Дата рождения: <span th:text="${patient.birthDate}"></span></p>
    <p>Номер телефона: <span th:text="${patient.phoneNumber}"></span></p>
    <p>Врач: <span th:text="${doctor.fullName}"></span></p>

    <h2>Рецепты</h2>
    <table>
        <thead>
        <tr>
            <th>Номер</th>
            <th>Диагноз</th>
            <th>Дата</th>
            <th>Врач</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prescription : ${prescriptions}">
            <td th:text="${prescription.id}"></td>
            <td th:text="${prescription.diagnosis}"></td>
            <td th:text="${prescription.issueDate}"></td>
            <td th:text="${prescription.doctor.fullName}"></td>
            <td th:text="${prescription.status}"></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/view_prescription}" method="get">
        <label for="prescriptionId">Введите номер рецепта:</label>
        <input type="text" id="prescriptionId" name="prescriptionId" required>
        <button type="submit">Посмотреть рецепт</button>
    </form>
</div>
<form th:action="@{/new_prescription}" method="get">
    <button type="submit">Создать новый рецепт</button>
</form>
<form th:action="@{/dashboard}" method="get">
    <button type="submit">Назад в личный кабинет</button>
</form>
</body>
</html>