<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о рецепте</title>
</head>
<body>
<h1>Информация о рецепте</h1>
<div th:if="${prescription != null}">
    <p>Диагноз: <span th:text="${prescription.diagnosis}"></span></p>
    <p>Имя врача: <span th:text="${prescription.doctor.fullName}"></span></p>
    <p>Дата: <span th:text="${prescription.issueDate}"></span></p>
    <p>Статус: <span th:text="${prescription.status}"></span></p>
    <h2>Список лекарств</h2>
    <table>
        <thead>
        <tr>
            <th>Название</th>
            <th>Доза</th>
            <th>Частота</th>
            <th>Продолжительность</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prescription_medicine : ${prescription_medicines}">
            <td th:text="${prescription_medicine.medicine.name}"></td>
            <td th:text="${prescription_medicine.medicine.dosage}"></td>
            <td th:text="${prescription_medicine.frequency}"></td>
            <td th:text="${prescription_medicine.duration}"></td>
        </tr>
        </tbody>
    </table>
    <h2>Примечания</h2>
    <p th:text="${prescription.remarks}"></p>
    <form action="/patient" method="get">
        <button type="submit">Назад к информации о пациенте</button>
    </form>
</div>
</body>
</html>